# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
build/
pubspec.lock

# Flutter metadata
.metadata
analysis_options.yaml

# =========================
# Flutter platforms (ignored)
# =========================
ios/
macos/
linux/
windows/
web/
test/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
